.sign-out {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../assets/diary.jpg');
background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #96858F;
  background-attachment: fixed;
  background-position: center; 
  margin: 0px;
  .center {
    height: 200px;
    width: 400px;
    background: transparent;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 10px white;
    text-align: center;
  }
  #menu{
  text-align: center;
    font-weight: bold;
    
  }
  .menuitem{
  padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
  .menuitem:hover{
  background-color: transparent;
    color: grey;
    
  }
  header {
    
    padding: 30px;
    text-align: center;
    background-color: #9099A2;
  }
  
  button {
    text-align: center;
    padding: 4px 6px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #96858F;
    border: none;
    border-radius: 15px;
  }
  
  button:hover {background-color: #9099A2;}
  
  button:active {
   background-color: #9099A2;
   box-shadow: 0 3px #666;
   transform: translateY(4px);
  }
  
}

